body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: hsl(217, 54%, 11%);
}

.container-main {
    position: relative;
    display: block;
    justify-content: center;
    width: auto;
    padding: 2em;
    max-width: 80rem;
    background-color:  hsl(216, 50%, 16%);
    border-radius: 0.9375rem;
}

.container-nft {

    width: 100%;
    height: auto;
    max-width: 21.875rem;
    max-height: 21.875rem;
    border-radius: 0.625rem;
}

 .nft { 
    width: 100%; 
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 21.875rem;
    max-height: 21.875rem;
    border-radius: 0.625rem;
    opacity: 0;
    transition: .3s ease;
    background-color: hsl(178, 100%, 50%, .4);
  }
  
  /* When you mouse over the container, fade in the overlay icon*/
  .container-main:hover .overlay {
    opacity: 1;
  }
  
  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* When you move the mouse over the icon, change color */
  .fa-solid fa-eye:hover {
    color: hsl(178, 100%, 50%);
  }

  h3 {
    color: hsl(0, 0%, 100%);
    font-family: "Outfit";
    font-weight: 600;
}

h3:hover {
    color: hsl(178, 100%, 50%);
    font-family: "Outfit";
    font-weight: 600;
}


.description {
    color: hsl(215, 51%, 70%);
    font-family: "Outfit";
    font-size: 400;
    max-width: 21.875rem;
}

.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75em 0;
    border-bottom: 1px solid hsla(215, 51%, 70%, .25);
}

.price {
    color: hsl(178, 100%, 50%);
    font-family: "Outfit";
    font-size: 400;
}

.clock {
    margin-left: 10.5em;
}

.time {
    color: hsl(215, 51%, 70%);
    font-family: "Outfit";
    font-size: 400;
}

.maker {
    display: inline-flex;
    margin-top: 1.5em;
}

.avatar {
    height: auto;
    width: auto;
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 50%;
    border: solid white 1px;
}

.creator {
    font-family: "Outfit";
    font-size: 300;
    color: hsl(215, 51%, 70%);
    margin-left: 1rem;
    letter-spacing: .07rem;
}

.name {
    color: white;
}

.name:hover {
    color: hsl(178, 100%, 50%);
}
